body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;

}

.container-fluid{
  padding: 3% 5%;

}

.title{
  padding: 2% 0;

}

h1{
  font-family: "Montserrat-Black";
  color: white;
  font-size: 4rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

/* NAV-BAR */
.navbar{
  padding:0 0 12px;
}


.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.0rem;
  font-weight: bold;

}

.nav-item{
  padding: 0 18px;
}

.nav-item{
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Download-button */
.Download-button{
  margin: 5% 3% 5% 0;
}

 #wall{

  width: 99%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-img{
  width: 20%;
  border-radius: 100%;
  margin: 5%;
}

.carousel-item{
  padding: 5% 15%;
}

#press{
  text-align: center;
  background-color: #ff4c68;
  padding-bottom: 5%;
}

.press-logo{
  width: 15%;
  margin: 30px;
}

#bella{
  width: 36%;
}

#Khali{
  width: 32%;

}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* CTA */

#cta{
  color: #fff;
  background-color: #ff4c68;
  padding: 7% 15%;
    text-align: center;
}

.cta-head{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */

#footer{
  padding: 7% 15%;
  text-align: center;
}

.footer-icons{
  padding: 20px 10px;

}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  /* .title-img{
    position: static;
    transform: rotate(0);
  } */

}
